<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />



    <uses-permission
        android:name="android.permission.USE_EXACT_ALARM"
        tools:ignore="ExactAlarm" />



    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />



    <application
        android:allowBackup="true"
        android:name=".DilayApp"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/doaa"
        android:label="@string/app_name"
        android:localeConfig="@xml/locals"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/doaa"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailySeventy"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DailySeventy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Receiver (بدون intent-filter لأننا نستخدم PendingIntent بالـ component الصريح) -->
        <receiver
            android:name=".domain.sensordomain.AlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <!-- Service الموسيقى -->
        <service
            android:name=".domain.sensordomain.AlarmMusicService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
<!--
        <receiver
            android:name=".domain.nightthird.NightThirdReceiver"
            android:exported="false" /-->

<!--
        <receiver
            android:name=".domain.friday.FridayReceiver"
            android:exported="true" />-->

<!--
        <service
            android:name=".domain.overlay.OverlayService"
            android:exported="false" />

        <receiver
            android:name=".domain.overlay.BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
-->

<!--

        &lt;!&ndash; Overlay Service Declaration &ndash;&gt;
        <service
            android:name=".domain.overlay.OverlayService"
            android:enabled="true"
            android:exported="false" />

        &lt;!&ndash; Boot Receiver Declaration &ndash;&gt;
        <receiver
            android:name=".domain.overlay.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

-->


        <receiver android:name=".presentation.widgets.ZekrWidget.WidgetReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/counter_widget_info" />
        </receiver>


        <!-- Register the refresh BroadcastReceiver -->
        <receiver
            android:name=".presentation.widgets.ZekrWidget.WidgetRefreshReceiver"
            android:exported="true"/>



        <receiver
            android:name=".presentation.widgets.PrayerWidget.PrayerTimesWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/prayer_times" />
        </receiver>

        <receiver
            android:name=".presentation.widgets.khatma.QuranKhatmaWidgetReceiver"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/khatma" />
        </receiver>




<!--
        <receiver
            android:name=".domain.zekr.ZekrAlarmReceiver"
            android:exported="false"/>
-->

        <receiver
            android:name=".domain.azan.prayersnotification.AzanAlarmReceiver"
            android:enabled="true"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </receiver>

        <receiver
            android:name=".domain.azan.prayersnotification.PreAndPostAzanAlarmReceiver"
            android:enabled="true"
            android:exported="false" />




        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>



        <!-- Required for sharing file URIs -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <receiver
            android:name=".presentation.widgets.HijriDateWidget.MyClockWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>

    </application>

</manifest>